@import "libs/bootstrap-reboot.min";
@import "libs/fonts";

@import "base/variables";
@import "base/mixins";

@import "blocks/promo";
@import "blocks/buttons";
@import "blocks/sidebar";
@import "blocks/menu";
@import "blocks/about";
@import "blocks/title";
@import "blocks/resume";
@import "blocks/skills";

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}
